[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
isort = "*"
black = "*"
djangorestframework = "*"
django-cors-headers = "*"
python-dotenv = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.12"
